@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* header */
.header-line{
    
}
#header {
    color:darkslategray;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin-top: 10%%;

}

#menu{
    float: left;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: large;
}


/* Body */

body, html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    text-align: left;
    text-transform: uppercase;
    text-decoration: solid;
}
/* hero image*/

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../image/hero-image1.webp') no-repeat  center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
body{
    font-family: Ubuntu, sans-serif;
    font-size: large ;
    color:darkslategray;
}
/* Footer */

footer{
    height: 75px;
    width: 100%;
    background: fixed darkslategray;
    position: fixed;
    bottom: 0;

}
footer, h3{
    color: aliceblue;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: medium;
}
footer, li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 5px;

}
.link{
    text-align: center;
    color: aliceblue;
    font-size: medium;
}