@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* header */
.header-line{
    
}
#header {
    color:darkslategray;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin-top: 10%%;

}


/* Body */

body, html{
    height: 100%;
}

/* hero image*/

#hero-image{
    height: 600px;
    width: 100vw;
    background: url('../image/hero-image1.webp') no-repeat  center;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Ubuntu, sans-serif;
    font-size: large ;
    color:darkslategray;
}
/* Footer */

footer{
    height: 75px;
    width: 100%;
    background: fixed darkslategray;
    position: fixed;
    bottom: 0;

}
footer, h3{
    color: aliceblue;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: medium;
}
li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 5px;

}
.link{
    text-align: center;
    color: aliceblue;
    font-size: medium;
}